<html>
  <head>
    <title>Add Merchant Info !</title>
  </head>

  <body>
    <form action ="/add/" method="post">
      <table>
        <tr> <td> Name </td> <td><input type="TEXT", name="name"></td></tr>
        <tr> <td> Description </td> <td><input type="TEXT", name="description"></td></tr>
        <tr> <td> Logo Url </td> <td><input type="TEXT", name="logoUrl"></td></tr>
        <tr> <td> TagLine</td> <td><input type="TEXT", name="tagLine"></td></tr>
        <tr> <td> Twitter Handle</td> <td><input type="TEXT", name="twitterHandle"></td></tr>
        <tr> <td>  Phone</td> <td><input type="TEXT", name="phone"></td></tr>
        <tr> <td>  Email</td> <td><input type="TEXT", name="email"></td></tr>
        <tr> <td> Geo Location</td> <td><input type="TEXT", name="geoLocation"></td></tr>
        <tr> <td> Address</td> <td><input type="TEXT", name="address"></td></tr>
        <tr> <td> </td> <td><input type="SUBMIT", value="Add"></td></tr>
      </table>
    </form>
  </body>
</html>

